.dial {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #505050;
    position: relative;
}

.dial:after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}